<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Order - KSA SHopping</title>
<?php include 'includes/head.php';?>
</head>

<body>
<div class="wrapper">
	
    <?php include 'includes/navigator.php';?>


	<div class="clear"></div>

<div class="box">
	
	<table class="main_table">
		<tr class="head">
			<td class="first">الصورة</td>
			<td>اسم المنتج</td>
			<td>سعر القطعة</td>
			<td>الكمية</td>
			<td>إجمالى السعر</td>
			<td class="last">حذف</td>
		</tr>
        <tr>
			<td><img src="images/thumb.png" class="order_thumb" alt="" /></td>
			<td>اسم المنتج	</td>
			<td>100 ريال</td>
			<td>1</td>
			<td>100 ريال</td>
			<td><a href="#"><img src="images/icon_del.png" alt="Delete" /></a></td>
		</tr>
        <tr>
			<td><img src="images/thumb.png" class="order_thumb" alt="" /></td>
			<td>اسم المنتج	</td>
			<td>100 ريال</td>
			<td>1</td>
			<td>100 ريال</td>
			<td><a href="#"><img src="images/icon_del.png" alt="Delete" /></a></td>
		</tr>
        <tr class="last">
			<td><img src="images/thumb.png" class="order_thumb" alt="" /></td>
			<td>اسم المنتج	</td>
			<td>100 ريال</td>
			<td>1</td>
			<td>100 ريال</td>
			<td><a href="#"><img src="images/icon_del.png" alt="Delete" /></a></td>
		</tr>
  																
	</table>
	
    <div class="bottom_buttons">
	    <a href="#" class="red_button">متابعة التسوق</a>
	    <a href="#" class="red_button">تحديث السلة</a>
	    <a href="#" class="red_button">إتمام الشراء</a>
    </div><!-- .bottom_buttons -->
    
</div><!-- .box -->
<?php include 'includes/footer.php';?>

</div><!-- .wrapper -->
</body>
</html>