<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact - KSA SHopping</title>
<?php include 'includes/head.php';?>
</head>

<body>
<div class="wrapper">
	
    	<?php include 'includes/navigator.php';?>


	<div class="clear"></div>


<div class="right_content">
	<div class="box contact_col">

        <h2>اتصل بنا</h2>
        <div class="inside">
        
        <p class="contact_p">أيا كانت وسيلة التواصل التي تفضلها... ستجدنا دائماً بقربك.. نجيب على جميع استفساراتك 
        		بسرعة!</p>
       
       <table class="contact_table">
            	<tr>
            		<td width="125">الاسم:</td>
                    <td><input type="text" /></td>
            	</tr>
                <tr>
            		<td>الإيميل:</td>
                    <td><input type="text" /></td>
            	</tr>
                <tr>
            		<td>الجوال:</td>
                    <td><input type="text" /></td>
            	</tr>
                <tr>
            		<td valign="top">الملاحظات:</td>
                    <td><textarea cols="20" rows="6"></textarea></td>
            	</tr>
                <tr>
            		<td></td>
                    <td align="left"><input type="submit" value="ارسال" /></td>
            	</tr>
            </table>
        </div><!-- .inside -->
        
	</div><!-- .box -->
</div><!-- .right_content -->

<div class="sidebar">
	
    <div class="box">
        <h2>معلومات الاتصال</h2>
        <div class="contact_info">
        	<p>اسم المسئول: أحمد عبد العزيز عيد<br />
        	الجوال: 0565624256<br />
        	المدينة: جدة<br />
        	البلد: المملكة العربية السعودية </p>
        </div><!-- .contact_info -->
	</div><!-- .box -->
    
    <div class="box left_small_col">
        <h2>اشترك معنا ليصلك أحدث منتجاتنا</h2>
        <div class="inside">
        	<table class="left_form_tbl">
            	<tr>
            		<td width="125">الاسم:</td>
                    <td><input type="text" /></td>
            	</tr>
                <tr>
            		<td>الإيميل:</td>
                    <td><input type="text" /></td>
            	</tr>
                <tr>
            		<td></td>
                    <td align="left"><input type="submit" value="ارسال" /></td>
            	</tr>
            </table>
        </div><!-- .inside -->
	</div><!-- .box -->
    
</div><!-- .sidebar -->


	<div class="clear"></div>
    <?php include 'includes/footer.php';?>

</div><!-- .wrapper -->
</body>
</html>